modules = ["python-3.12"]
hidden = [".config", "package-lock.json"]
run = "uvicorn main:app --host 0.0.0.0 --port 3000"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "uvicorn main:app --host 0.0.0.0 --port 3000"]
deploymentTarget = "autoscale"
ignorePorts = false

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 43764003
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[[ports]]
localPort = 5000
externalPort = 80
